# AWS Credentials/Configurations
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://host.docker.internal:4566
AWS_DISABLE_HOST_PREFIX_INJECTION=true
AWS_REQUEST_CHECKSUM_CALCULATION=when_required

# S3
S3_BUCKET=mle

# SSM
PARAMETER_PATH=mle