# AWS Credentials/Configurations
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://host.docker.internal:4566
AWS_DISABLE_HOST_PREFIX_INJECTION=true
AWS_REQUEST_CHECKSUM_CALCULATION=when_required
AWS_PAGER=

# S3
S3_BUCKET=mle

# Slack
SLACK_APP_LEVEL_TOKEN=your-app-level-token
SLACK_BOT_USER_OAUTH_TOKEN=your-bot-user-oauth-token
SLACK_SIGNING_SECRET=your-signing-secret

# SSM
PARAMETER_PATH=mle