# Secrets & Environment
**/.env
**/.secrets

# Version Control
**/.git/

# Python
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/

# Terraform
infrastructure/**/.helm/
infrastructure/**/.terraform/
infrastructure/**/.terraform.lock.hcl
infrastructure/**/.terraform.tfstate.lock.info
infrastructure/**/*.tfstate
infrastructure/**/*.tfstate.backup
infrastructure/**/terraform.tfvars
infrastructure/local_files/

# IDE & Editor
**/.idea/
**/.vscode/

# OS
**/.DS_Store
**/Thumbs.db

# Logs
**/*.log

# Temporary
count-lines.ps1