# GitHub
# > Read-only permissions for contents, metadata, and pull-requests (github.com/settings/personal-access-tokens)
GITHUB_TOKEN=your-github-token
GITHUB_REST_API_HOST=host.docker.internal
GITHUB_REST_API_PORT=16138

# Docker
DOCKER_USERNAME=your-dockerhub-username
DOCKER_PASSWORD=your-dockerhub-pat

# Slack
SLACK_CHANNEL_ID=your-channel-id
SLACK_APP_LEVEL_TOKEN=your-app-level-token
SLACK_BOT_USER_OAUTH_TOKEN=your-bot-user-oauth-token
SLACK_SIGNING_SECRET=your-signing-secret

# AWS Credentials/Configurations
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin
AWS_DEFAULT_REGION=us-east-1

# Kubernetes
NAMESPACE=mle

# Secrets Manager
SECRET_PATH=mle
MWAA_CONNECTIONS_SECRET_PATH=airflow/connections/mle
MWAA_VARIABLES_SECRET_PATH=airflow/variables/mle

# SSM
PARAMETER_PATH=mle